<nav class="nav-bar">
  <div class="flex">
    <a class="flex-start" routerLink="home">
      <img [src]="headerImg" width="30" height="30" alt="Home"/>
    </a>
    <div [class]="styleNavTabs">
      <app-ds-nav-links></app-ds-nav-links>
    </div>
    <span class="flex-end">
      <form class="top-nav-s">
        <input class="top-nav-s-in" type="search" placeholder="Repo Search" aria-label="Search">
        <span class="top-nav-s-btn-img">
            <img (click)="search()" [src]="searchIcon"/>
        </span>
        <button class="top-nav-s-btn-txt">
            Search
        </button>
      </form>
      <button (click)="toggleButton(stateExpression)" class="toggle-btn" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <div class="btn-bar">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </button>
    </span>
  </div>
  <div [@openClose]="stateExpression" id="navbarNavDropdown">
    <app-ds-nav-links></app-ds-nav-links>
  </div>
</nav>
