<div class="repo-container">
  <div class="repo-breadcrum">
    <img class="repo-d-icon-checked vertical-centre" [src]="repoImg">
    <a [href]="orgURL">{{orgLogin}}</a>
    <span>/</span>
    <a [title]=" 'Open Issue : ' + openIssuesCount + '; Closed Issue :' + closedIssuesCount" [href]="repoHTMLURL">
      <b>{{repoName}}</b>
    </a>
  </div>
  <span class="repo-grid" tabindex="0">
    <app-ds-star-repo [starCount]="starCount" [organization]="organization" [repoName]="repoName" [repoHTMLURL]="repoHTMLURL"></app-ds-star-repo>
    <app-ds-watch-repo [watchCount]="subscribers" ></app-ds-watch-repo>
    <app-ds-fork-repo [forkCount]="forkCount"></app-ds-fork-repo>
    <button class="issue-button-wrapper" routerLink="/openIssue" >
      <img title="Add New Issue" class="repo-d-icon-checked vertical-centre" [src]="addIssueImg">
      <span class="repo-button"> New Issue </span>
    </button>
  </span>
</div>
<p>
