<div class="filter-pane">
  <div [@openCloseFilterPane]="stateExpression">
    <app-ds-multiselect-drop-down [searchKey]="labelSearchKey" [id]="labelId" [dropDownLabel]="filterLabel"
                                  [showBorder]="true" [selectList]="labelList" [showColorBar]="true"></app-ds-multiselect-drop-down>
    <app-ds-multiselect-drop-down [searchKey]="assigneeSearchKey" [id]="assigneeId" [dropDownLabel]="filterAssignee"
                                  [selectList]="assigneList" [showBorder]="false" [showColorBar]="false" [isImage]="true"></app-ds-multiselect-drop-down>
  </div>
</div>
<div class="sort-pane">
  <div [@openCloseSortPane]="stateExpression">
    <app-ds-nav-links></app-ds-nav-links>
  </div>
</div>

