<div class="card">
  <div class="card-body">
    <span *ngFor="let card of cardList">
      <div class="d-flex flex-nowrap">
        <div class="order-1 p-2">
          <img class="icon15" [src]="issueImage">
        </div>
        <div class="order-2 p-2">
          <span class="text-dark">
            <a [href]="card.url">{{card.title}}</a>
          </span>
          <br/>
          <span class="text-muted">#{{card.number}}</span>
          <div *ngIf="card.milestone">
              <a [href]="card.milestone.url">{{card.milestone.title}}</a>
          </div>
          <div *ngIf="card.user">
              <a [href]="card.user.url">{{card.user.login}}</a>
          </div>
        </div>
        <span class="order-3 p-2">
          <ul>
            <li class="block" *ngFor="let tag of card.labels">
              <app-ds-tag [isLink]="true" [checkBox]="false" [tag]="tag"></app-ds-tag>
            </li>
          </ul>
        </span>
        <div class="order-4 p-2">
          <app-ds-comments [comments]="card.comments" [commentURL]="card.comments_url" [imageURL]="imageURL"></app-ds-comments>
        </div>
      </div>
      <hr/>
    </span>
  </div>
</div>
<div>
  <app-ds-multiselect-drop-down [dropDownLabel]="dropDownLabel" [selectList]="labelList"></app-ds-multiselect-drop-down>
</div>

