@import '../../content/content.component.css';

.disable{
  cursor: not-allowed;
}

.suggestion-list{
  height: auto;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  padding: 0 10px;
}
.selected-sugg > li{
  display: inline-block;
  text-align: center;
}
.selected-sugg{
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 0 10px;
  width: 100%;
}
.search-item{
  padding: 2px 0 2px;
}
input[type='text'],input[type='text']:focus {
  outline: none;
  border: 2px solid #efefef;
  border-radius: 5px;
  word-wrap: break-word;
  padding: 0px 10px;
}
.sugg-input{
  width: 90%;
  padding: 0px 5px 0px;
  line-height: 30px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
